*.exe
*.dll
*.o
*.c
nimcache/
sortie_c/
__pycache__/
*.pyc
*.zip
*.json
test/
Thumbs.db
.DS_Store

# Binaires dans les modules
*.exe
!build.bat

# Build LLVM
build/
*.so
*.o
*.a

# Temporaires
*.tmp
*.log
*.cache
